* {
    margin: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../images/corona-img.jpg');
    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: radial-gradient(circle,
            rgba(255, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.corona-box {
    position: fixed;
    padding: 20px;
    color: white;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.corona-left {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    inset: 0;
    border-radius: 20px;
    z-index: 1;
   
}
.corona-left h4 {
    z-index: 3;
     position: relative;
    color:white;
}
.corona-left:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/corona-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   z-index: 1;
}
#coronaDetail {
    position: relative;
    z-index: 5;
    color: white;
}
.corona-left:after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0.8) 100%);
      z-index: 2;
}

.corona-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

button {
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px !important;
}

button:hover {
    background-color: white;
    color: black;
    border: none;
}

.weekly-weather {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    gap: 40px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
}

.day-card {
    background: transparent;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    width: 20px;
    border: 2px solid #00123a;
    color: black;
}